<div class="container">
  <h1>Welcome to le Blog!</h1>
  <p><%= @error %></p>
  <div class="new_post_button"><a href="/new_post"><button>Create new post</button></a></div>
  <table>
    <tr>
      <th class="post">Post</th>
      <th>Last updated</th>
    </tr>
    <% @posts = Post.all.order(updated_at: :desc) %>
    <% @posts.each do |post| %>
    <tr>
      <td><a href="/view_post/<%= post.id %>"><%= post.title %></a><br><span class="author">by <%= post.author %></span></td>
      <td class="timestamp"><%= post.updated_at %></td>
    </tr>
    <% end %>
    <tr>
      <th width="100%" colspan="4">Tags</th>
    </tr>
    <tr>
      <td colspan="4">
        <% @tags = Tag.all %>
        <% @tags.each do |tag| %>
        <a href="/view_tags/<%= tag.id %>"><%= tag.name %></a>&nbsp;
        <% end %>
      </td>
    </tr>
  </table>
</div>
