<div class="container">
  <h1>Welcome to waterbnb!</h1>
  <p><%= @error %></p>
  <div class="new_property_button"><a href="/new_property"><button>Create new property</button></a></div>
  <table>
    <tr>
      <th class="property">Properties</th>
      <th>Last updated</th>
    </tr>
    <% @properties = Property.all.order(updated_at: :desc) %>
    <% @properties.each do |property| %>
    <tr>
      <td><a href="/view_property/<%= property.id %>"><%= property.title %></a><br><span class="user">by <%= property.users.name %></span></td>
      <td class="timestamp"><%= property.updated_at %></td>
    </tr>
    <% end %>
    <tr>
      <th width="100%" colspan="4">Tags</th>
    </tr>
    <tr>
      <td colspan="4">
        <% @tags = Tag.all %>
        <% @tags.each do |tag| %>
        <a href="/view_tags/<%= tag.id %>"><%= tag.name %></a>&nbsp;
        <% end %>
      </td>
    </tr>
  </table>
</div>
