<div class="container">
  <h1>Welcome to waterbnb!</h1>
  <p><%= @flag %></p>
  <div class="new_property_button">
  <% if session[:user_id] %>
    <a href="/new_property"><button>Create New Property</button></a>
    <a href="/secret"><button>Account</button></a>
  <% else %>
    <a href="/login"><button>Log In</button></a>
    <a href="/signup"><button>Sign Up</button></a>
    <% end %>
  </div>
  <table>
    <tr>
      <th class="property">Properties</th>
      <th >Price</th>
    </tr>
    <% @properties = Property.all.order(updated_at: :desc) %>
    <% @properties.each do |property| %>
    <tr>
      <td><a href="/view_property/<%= property.id %>"><%= property.title %></a></td>
      <td class="timestamp">RM<%= property.price %></td>
    </tr>
    <% end %>
    <tr>
      <th width="100%" colspan="4">Tags</th>
    </tr>
    <tr>
      <td colspan="4">
        <% @tags = Tag.all %>
        <% @tags.each do |tag| %>
        <a href="/view_tags/<%= tag.id %>"><%= tag.name %></a>&nbsp;
        <% end %>
      </td>
    </tr>
  </table>
</div>
