<div class="container" align="center">
  <h1>You have reached the secret page!</h1>
  <p><%= @flag %></p>

  <p align="right">Logged is as <%= @current_user.name %> <a href="../logout"><button>Logout</button></a></p>

  <table>
    <tr>
      <th class="property">Your Properties</th>
      <th></th>
    </tr>
    <% @property_list.each do |property| %>
    <tr>
      <td><a href="../view_property/<%= property.id %>"><%= property.title %></a></td>
      <td><a href="../edit_property/<%= property.id %>"><button>Edit</button></a></td>
    </tr>
    <% end %>
  </table>
  <table>
    <tr>
      <th>Your Bookings</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th></th>
    </tr>
    <% @booking_list.each do |booking| %>
    <tr>
      <td><a href="../view_property/<%= booking.property.id %>"><%= booking.property.title %></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td><a href="../cancel_booking/<%= booking.id %>"><button>Cancel</button></a></td>
    </tr>
    <% end %>
  </table>

  <a href="../"><button>Main Page</button></a>

</div>