<div class="container" align="center">
  <h1>You have reached the secret page!</h1>
  <p><%= @flag %></p>

  <p>Hello <%= @user.name %>!<br>
    Here is your reward for successfully getting in here. Enjoy!</p>

  <ul align="left">
    <% @list.each do |row| %>
      <li>Title: <%= row.title %> <br>Beds: <%= row.bed %> <br>Bathrooms: <%= row.bathroom %> <br>Price: <%= row.price %>
      </li>
      <% end %>
  </ul>

  <p><img src="http://aka.weightwatchers.ca/images/4105/dynamic/articles/2011/05/Potato_main.jpg"></p>

  <a href="../logout"><button>Logout</button></a> <a href="../"><button>Main Page</button></a>

</div>
