<div class="container" align="center">
  <h1>You have reached the secret page!</h1>
  <p><%= @flag %></p>

  <p>Hello <%= @current_user.name %>!<br>

  <table>
    <tr>
      <th class="property" colspan="2">Your Properties</th>
    </tr>
    <% @property_list.each do |property| %>
    <tr>
      <td width="90%"><a href="/view_property/<%= property.id %>"><%= property.title %></a></td>
      <td width="10%"><a href="../edit_property/<%= property.id %>"><button>Edit</button></a></td>
    </tr>
    <% end %>
    <tr>
      <th class="property" colspan="2">Your Bookings</th>
    </tr>
    <% @booking_list.each do |booking| %>
    <tr>
      <td><%= booking.property.title %></td>
      <td width="10%"><a href="../cancel_booking/<%= booking.property.id %>"><button>Cancel</button></a></td>
    </tr>
    <% end %>
  </table>

  <a href="../logout"><button>Logout</button></a> <a href="../"><button>Main Page</button></a>

</div>